<div class="fullscreen-bg">
	    <video loop muted autoplay poster="./assets/images/grill.jpeg" class="fullscreen-bg__video">
	        <source src="./assets/images/burgers.mp4" type="video/mp4">
	    </video>
	</div>

	<section class="fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 id="mytitle">
					BURGERS!
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 text-center">
				<form method="POST" action="/" class="button-size"> 
					<input type="text" id="myname" name="patron_name">
					<p id="directions">Type in a Burger You Would Like to Eat!</p>
					<button id="makeburger" class="btn btn-lg makeburger">Create A Burger</button>
				</form>
			</div>
		
			<div class="col-xs-6 col-sm-6 col-md-6 text-center">
				<form method="POST" action="/" class="button-size"> 
					<input type="text" id="myburger" name="burger_name">
					<p id="directions">Type in a Burger You Would Like to Eat!</p>
					<button id="makeburger" class="btn btn-lg makeburger">Create A Burger</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 text-center">
						<h2 class="section">MENU</h2>
						  {{#each burgers}}
						   
						      <div id="burger" class="text-center">
						      	<form action="/{{this.id}}?_method=PUT" method="POST">
		
						        	{{this.id}}.<textarea id="tx1" class="area text-center" type="text" name="burger_name">{{this.burger_name}}</textarea><br>
						        	<button type="submit" class="btn btn-md makeburger btnburger">UPDATE Burger!</button>
								</form>
						        <form action="/{{this.id}}?_method=PUT" method="POST">
						          <input type="hidden" name="devoured" value="true">
						          <button type="submit" class="btn btn-md makeburger btnburger">DEVOUR Burger!</button>
						        </form>
						      </div>
						    
						  {{/each}}
						
						
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 text-center">
						<h2 class="section">EATEN</h2>
						  	{{#each eaten}}
						      <div id="eaten" class="text-center">
						      
						        {{this.id}}. {{this.burger_name}}<br>

						        <form action="/{{this.id}}?_method=DELETE" method="POST">
						          <input type="hidden" name="id" value="{{this.id}}">
						          <button type="submit" class="btn btn-lg makeburger">DELETE Burger!</button>
						        </form>
						        
						      </div>
						    {{/each}}
					</div>
				</div>
			</div>
		</div>

	</section>
